name: release android apk

on:
  workflow_call:
    secrets:
      ANDROID_STOREPASS:
        required: false
    inputs:
      runner:
        description: "workflow-runner"
        default: "ubuntu-latest"
        required: false
        type: string
      app_root:
        description: "app root"
        default: ""
        required: false
        type: string
      artifact_path:
        description: "path to artifact files to save from build step"
        default: ""
        required: false
        type: string
      tool:
        description: "build tool - npm or yarn"
        default: "none"
        required: false
        type: string
      release_tag:
        description: "release tag"
        default: "latest"
        required: false
        type: string

jobs:
  release_android_apk:
    name: release android apk
    runs-on: ${{ inputs.runner }}
    timeout-minutes: 30
    permissions:
      actions: write
      contents: write
      packages: read
    steps:
      - uses: actions/checkout@v6

      - name: check app artifact existence
        uses: softwareforgood/check-artifact-v4-existence@v0
        id: check_app_artifact_exists
        with:
          name: app

      - name: download app artifact
        if: ${{ inputs.app_root != '' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        uses: actions/download-artifact@v7
        with:
          name: app
          path: ${{ inputs.app_root }}

      - name: check build artifact existence
        uses: softwareforgood/check-artifact-v4-existence@v0
        id: check_build_artifact_exists
        with:
          name: build

      - name: download build artifact
        if: ${{ inputs.artifact_path != '' && steps.check_build_artifact_exists.outputs.exists == 'true' }}
        uses: actions/download-artifact@v7
        with:
          name: build
          path: ${{ inputs.artifact_path }}

      - uses: actions/setup-node@v6
        if: ${{ (inputs.tool == 'npm' || inputs.tool == 'yarn') && steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        with:
          node-version: "24.12.0"
          cache: "${{ inputs.tool }}"

      - name: install with npm
        if: ${{ inputs.tool == 'npm' && steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        run: npm ci

      - name: cache keystore
        if: ${{ steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        uses: actions/cache@v5
        id: cache
        with:
          path: ${{ inputs.app_root }}/android/app/keystore.jks
          key: keystore-cache

      - name: generate keystore
        if: ${{ steps.cache.outputs.cache-hit != 'true' && steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true'}}
        id: generate-keystore
        run: |
          keytool -genkeypair -v \
            -keystore ${{ inputs.app_root }}/android/app/keystore.jks \
            -keyalg RSA -keysize 2048 -validity 10000 \
            -alias my-key \
            -storepass "$ANDROID_STOREPASS" \
            -dname "CN=Android, OU=Development, O=App"
        env:
          ANDROID_STOREPASS: ${{ secrets.ANDROID_STOREPASS }}

      - name: set up jdk
        if: ${{ steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: "lts"

      - name: set up android sdk
        if: ${{ steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        uses: android-actions/setup-android@v3
        with:
          packages: "build-tools;35.0.0"

      - name: build apk
        if: ${{ steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        run: |
          cd ${{ inputs.app_root }}/android
          ./gradlew assembleRelease

      - name: sign apk
        if: ${{ success() && hashFiles('./nx.json') != '' && steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true'}}
        run: |
          jarsigner -verbose -sigalg SHA256withRSA -digestalg SHA-256 \
            -keystore ${{ inputs.app_root }}/android/app/keystore.jks \
            -storepass "$ANDROID_STOREPASS" \
            -keypass "$ANDROID_STOREPASS" \
            ${{ inputs.app_root }}/android/app/build/outputs/apk/release/app-release-unsigned.apk my-key
        env:
          ANDROID_STOREPASS: ${{ secrets.ANDROID_STOREPASS }}

      - name: align apk
        if: ${{ success() && hashFiles('./nx.json') != '' && steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true'}}
        run: |
          ${ANDROID_SDK_ROOT}/build-tools/35.0.0/zipalign -v 4 \
            ${{ inputs.app_root }}/android/app/build/outputs/apk/release/app-release-unsigned.apk \
            ${{ inputs.app_root }}/android/app/build/outputs/apk/release/app-release.apk

      - uses: softprops/action-gh-release@v2
        if: ${{ steps.check_build_artifact_exists.outputs.exists == 'true' && steps.check_app_artifact_exists.outputs.exists == 'true' }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ inputs.release_tag }}
          name: "Release ${{ inputs.release_tag }}"
          files: |
            ${{ inputs.app_root }}/android/app/build/outputs/apk/release/app-release.apk
