name: test and build

on:
  workflow_call:
    inputs:
      root_dir:
        description: "path to project root"
        default: "."
        required: false
        type: string
      tool:
        description: "build tool - ./gradlew || npm || yarn || mvn || uv || bash"
        default: "none"
        required: false
        type: string
      format:
        description: "format script to use"
        default: ""
        required: false
        type: string
      lint:
        description: "lint script to use"
        default: ""
        required: false
        type: string
      install:
        description: "install script to use"
        default: ""
        required: false
        type: string
      test:
        description: "test script to use"
        default: ""
        required: false
        type: string
      e2e:
        description: "e2e test script to use"
        default: ""
        required: false
        type: string
      build_branch:
        description: "build script to use in branch run"
        default: ""
        required: false
        type: string
      build_main:
        description: "build script to use in main run"
        default: ""
        required: false
        type: string
      post_build_script:
        description: "build script to use in main run"
        default: ""
        required: false
        type: string
      artifact_path:
        description: "path to artifact files to save from build step"
        default: ""
        required: false
        type: string
      runner:
        description: "workflow-runner"
        default: "ubuntu-latest"
        required: false
        type: string
      app_root:
        description: "app root"
        default: ""
        required: false
        type: string

jobs:
  test_and_build:
    name: test and build
    runs-on: ${{ inputs.runner }}
    timeout-minutes: 45
    permissions:
      actions: write
      contents: read
      packages: read
    defaults:
      run:
        working-directory: ${{ inputs.root_dir }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: cache dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.npm
            ~/.yarn/cache
            ~/.cache/pip
            ~/.cache/uv
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2/repository
          key: deps-${{ inputs.tool }}-${{ runner.os }}-${{ hashFiles('**/package-lock.json', '**/yarn.lock', '**/uv.lock', '**/gradle.properties', '**/pom.xml') }}
          restore-keys: |
            deps-${{ inputs.tool }}-${{ runner.os }}-
            deps-${{ inputs.tool }}-

      - name: configure jdk
        if: ${{ inputs.tool == './gradlew' || inputs.tool == 'mvn' }}
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"

      - uses: actions/setup-node@v6
        if: ${{ inputs.tool == 'npm' || inputs.tool == 'yarn' }}
        with:
          node-version: "24.12.0"
          cache: "${{ inputs.tool }}"
          cache-dependency-path: |
            ${{ inputs.root_dir }}/package-lock.json
            ${{ inputs.root_dir }}/yarn.lock
            ${{ inputs.root_dir }}/pnpm-lock.yaml

      - uses: astral-sh/setup-uv@v7
        if: ${{ inputs.tool == 'uv' }}
        with:
          enable-cache: true
          cache-dependency-glob: "${{ inputs.root_dir }}/uv.lock"

      - uses: actions/setup-python@v6
        if: ${{ inputs.tool == 'uv' }}
        with:
          python-version-file: "${{ inputs.root_dir }}/pyproject.toml"

      - name: enable nx shas
        if: ${{ success() && hashFiles('./nx.json') != '' }}
        uses: nrwl/nx-set-shas@v4
        with:
          main-branch-name: main

      - name: install with npm
        if: ${{ inputs.tool == 'npm' }}
        run: npm ci

      - name: install with yarn
        if: ${{ inputs.tool == 'yarn' }}
        run: yarn install --frozen-lockfile

      - name: install with ${{ inputs.tool }}
        if: ${{ inputs.tool != 'none' && inputs.tool != 'npm' && inputs.tool != 'yarn' }}
        run: ${{ inputs.tool }} ${{ inputs.install }}

      - name: format
        if: ${{ inputs.tool != 'none' && inputs.format != '' }}
        run: ${{ inputs.tool }} ${{ inputs.format }}

      - name: lint
        if: ${{ inputs.tool != 'none' && inputs.lint != '' }}
        run: ${{ inputs.tool }} ${{ inputs.lint }}

      - name: test
        if: ${{ inputs.tool != 'none' && inputs.test != '' }}
        run: ${{ inputs.tool }} ${{ inputs.test }}

      - name: Cache Playwright browsers
        if: ${{ (inputs.tool == 'npm' || inputs.tool == 'yarn') && inputs.e2e != '' && (hashFiles('**/**/playwright.config.ts') != '' || hashFiles('**/**/playwright.config.js') != '' || hashFiles('**/**/playwright.config.mjs') != '')}}
        id: playwright-cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}-${{ hashFiles('**/package-lock.json', '**/yarn.lock') }}

      - name: Install Playwright browsers and dependencies
        if: ${{ (inputs.tool == 'npm' || inputs.tool == 'yarn') && inputs.e2e != '' && (hashFiles('**/**/playwright.config.ts') != '' || hashFiles('**/**/playwright.config.js') != '' || hashFiles('**/**/playwright.config.mjs') != '')}}
        run: |
          npx playwright install --with-deps
        env:
          PLAYWRIGHT_BROWSERS_PATH: ~/.cache/ms-playwright

      - name: e2e test
        if: ${{ inputs.tool != 'none' && inputs.e2e != '' }}
        run: ${{ inputs.tool }} ${{ inputs.e2e }}

      - name: build on branch
        if: ${{ github.event_name != 'push' && inputs.tool != 'none' && inputs.build_branch != '' }}
        run: ${{ inputs.tool }} ${{ inputs.build_branch }}

      - name: build on main
        if: ${{ github.event_name == 'push' && inputs.tool != 'none' && inputs.build_main != '' }}
        run: ${{ inputs.tool }} ${{ inputs.build_main }}

      - name: post build script on main
        if: ${{ github.event_name == 'push' && inputs.tool != 'none' && inputs.post_build_script != '' }}
        run: ${{ inputs.tool }} ${{ inputs.post_build_script }}

      - name: upload build artifact (from artifact_path)
        if: ${{ github.event_name == 'push' && inputs.artifact_path != '' }}
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: ${{ inputs.root_dir }}/${{ inputs.artifact_path }}

      - name: upload app artifact (from app_root)
        if: ${{ github.event_name == 'push' && inputs.app_root != '' }}
        uses: actions/upload-artifact@v6
        with:
          name: app
          path: ${{ inputs.app_root }}
